body {
    margin: 0 auto;
    max-width: 800px;
    min-width: 200px;
    color: #344966;
    background-color: #FDFCDC;
    
}



img {
    float: right;
    margin-right: 25px;
    margin-top: 25px;
    box-shadow: #344966 2px 2px 2px 2px;
    border-radius: 2px;
    width: 200px;
}

h2, li, footer {
    font-family: 'Poppins', sans-serif;
    font-weight: bolder;
}

ul, li {
    list-style-type: none;
    
}

header {
    height: 100px;
}
h1 {
    font-family: 'Gluten', cursive;
    font-size: 40px;
    font-weight: 200;
    overflow-x: hidden;
}

header, footer{
    background-color: #00AFB9;
    color: black;
    text-align: center;
    padding-top: 25px;
    border: white double 10px;
    border-radius: 5px;
    text-shadow: white 2px 2px 2px;
    box-shadow: #344966 2px 2px 2px 2px;
}

footer{ 
    height: 75px;
    min-height: 25px;
}
