img {
    float: right;
    display: block;
    width: 200px;
    
}

header {
    text-align: left;
    margin-bottom: 10px;
    height: 55px;
    clear: both;
    display: block;
}

#name {
    padding-right: 122px;
    padding-left: 122px; 
    font-size: 2rem;
}

body {
    width: 50%;
}

#bodydiv {
    width: 800px;
    margin: auto;
}

header, footer{
    background-color: aqua;
    border: 1px solid white;
    padding: 1rem;
}
a:hover {
    color:chartreuse;
}
a:visited{
    color:darkslategray;
} 
h1{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 1.5rem;
    float: left;
}
h2{
    font-size: 1rem;
}
body{
    margin: auto;
}
h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
}
p{
    font-family: 'Fjalla One', sans-serif;
}

