body {
    background-color: #FDFCDC;
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
    
}

h1, h2 {
    background-color: #00AFB9;
    color: white;
    text-align: center;
    padding: 50px;
    text-shadow: #344966 2px 2px 2px;
}

h1 {
    font-family: 'Gluten', cursive;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.column h2 {
    margin-top: 0;
}


.column {
    width: 25%;
    display: flex;
    flex-direction: column;
    justify-content: space-around; 
    flex-wrap: wrap;
}

.column-1, .column-2, .column-3 {
    border:#00AFB9 solid 5px;
    border-radius: 5px;
    margin: 50px;
    flex: 100%;
}

img {
    width: 25%;
    padding-top: 20px;
}

a {
    text-align: center;
}

p, h2, a, footer {
    font-family: 'Poppins', sans-serif;
}


body, a:link {
    color: #344966;
    text-decoration: none;
    text-align: center;
    font-size: larger;
}

footer a:link {
    color: white;
    
}

footer {
    color: white;
    background-color: #00AFB9;
    padding: 50px;
    height: 100px;
    margin-top: auto;
    padding-bottom: 0;
    text-align: center;
    text-shadow: #344966 2px 2px 2px;
}