body {
    background-color: #FDFCDC;
    min-width: 400px;
    margin-right: auto;
    margin-left: auto;
    
}

h1, h2 {
    background-color: #00AFB9;
    color: white;
    text-align: center;
    padding: 50px;
    text-shadow: #000000 2px 2px 2px;
}

h1 {
    font-family: 'Gluten', cursive;
    margin-right: auto;
    margin-left: auto;
    border-radius: 5px;
}

.columns h2 {
    margin-top: 0;
    margin-left: 0;
    padding-left: 0;
    padding-right: 0;
}


.content {
    width: 90%;
    display: grid;
    grid-template-columns: 1fr;
}

.columns {
    border:#00AFB9 solid 5px;
    border-radius: 5px;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
}

img {
    width: 100%;
    padding-top: 20px;
}

a {
    text-align: center;
}

p, h2, a, footer {
    font-family: 'Poppins', sans-serif;
}


body, a:link {
    color: #344966;
    text-decoration: none;
    text-align: center;
    font-size: larger;
}

footer a:link {
    color: white;
    
}

footer {
    color: white;
    background-color: #00AFB9;
    padding: 50px;
    height: 100px;
    margin-top: auto;
    padding-bottom: 0;
    text-align: center;
    text-shadow: #000000 2px 2px 2px;
}