@media only screen and (min-width: 32.5em) {
    .column {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 50%;
    flex-wrap: wrap;
    }

    img {
        width: 50%;
    }

} 