@media only screen and (min-width: 32.5em) {
    .columns h2, .content{
        width: 100%;
    }

    .columns {
        margin-right: 20px;
        margin-left: 20px;
    }


    .content {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    img {
        width: 100%;
    }

} 