a {
    color: black;
    font-weight: bold;
    padding: 20px;
    margin: 20px;
  }

  a:hover {
    color: chartreuse;
  }
  
  header {
    background-color: aqua;
    color: black;
    justify-content: space-between;
    border-radius: 15px;
  }
  body{
      background-color:white;
  }

  h1 {
    font-family: 'Abril Fatface', cursive;
    font-size: 2.5em;
    padding-top: 15px;
    text-align: center;
    text-shadow: 2px 2px white;
    padding: 10px;
    
  }
  
  h2 {
    font-size: 1.3em;
    font-family: 'Fjalla One', sans-serif;
    background-color: aqua;
    text-shadow: 2px 2px white;
    padding: 10px;
    border-radius: 15px;
  }
  
  h3{
    padding-bottom: 8px;
    border-radius: 15px;
  }
  
  img {
    margin-top: 8px;
    height: 176px;
  }
  
  main {
    display: grid;
    grid-template-columns: repeat(3x, 1fr);
    margin: 0;
    width: 1400px;
  }
  
  p {
    font-size: 1em;
    font-weight: bold;
    color:	black;
    font-family: 'Fjalla One', sans-serif;
  }
  
  section {
    background-color: white;
    border-radius: 15px;
    text-align: center;
    margin: 10px;
  }

  #contrast {
    margin-top: 40px;
  }

  #rule {
    margin-top: 40px;
  }

  #jane {
    margin: 10px;
  }

  #jane-p {
    margin-top: 40px;
  }
  
  footer {
    background-color: aqua;
    color: black;
    font-size: 1em;
    text-align: center;
    padding-top: 25px;
    padding-bottom: 25px;
  }

  footer a:hover {
    color: white;
  }
  
  #copyright {
    font-family: 'Fjalla One', sans-serif;
  }
  
  #lastUpdate {
    font-size: 1.0em;
    font-family: 'Fjalla One', sans-serif;
    padding-top: 5px;
  }