body {
    width: 50%;
}
header img {
    float: right;
    max-width: 100%;
    height: auto;
}

header, footer{
    background-color: aqua;
    border: 1px solid white;
    padding: 1rem;
}
a:hover {
    color:chartreuse;
}
a:visited{
    color:darkslategray;
} 
h1{
    font-size: 1.5rem;
    margin: 0.15rem;
}
h2{
    font-size: 1rem;
}
h1, h2, h3 {
    font-family: 'Abril Fatface', cursive;
}
p{
    font-family: 'Fjalla One', sans-serif;
}

