font-family: 'Covered By Your Grace', cursive;
font-family: 'Englebert', sans-serif;
body {
    width: 50%;
}
header img {
    float: right;
    width: 250px;
    height: auto;
}

header, footer{
    background-color: aqua;
    border: 1px solid white;
    padding: 1rem;
}
a:hover {
    color:chartreuse;
}
a:visited{
    color:darkslategray;
} 
h1, h2, h3 {
    font-family: 'Covered By Your Grace', cursive;
}
p{
    font-family: 'Englebert', san-serif;
}

