body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Hachi Maru Pop', cursive;
    background-color: aquamarine;
}

h1 {
    background-color: white;
    width: 300px;
    text-align: center;
}

img [data-src] {
    filter: blur(2px);
        transition: filter .10s;
}

img {
    margin: 20px;
    filter: drop-shadow(0 0 5px #000) blur(0px);
}