body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Hachi Maru Pop', cursive;
    background-color: aquamarine;
}

h1 {
    background-color: white;
    width: 300px;
    text-align: center;
}

img {
    margin: 20px;
}
