body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Hachi Maru Pop', cursive;
    background-color: aquamarine;
}

h1 {
    background-color: white;
    width: 300px;
    text-align: center;
}

img[data-src] {
    filter: drop-shadow(0 0 5px #000);
    transition: filter 3s transform 3s;
    transition-duration: 4s;
    transition-delay: 2s;
}

img {
    filter: blur(2px);
    margin: 20px;
}