@media only screen and (min-width: 32.5em) {
    
    .hero-place {
        margin-left: 0;
        width: 100%;
    }  
    
    .ws-table {
        margin-left: 0;
    }
    
    footer {
        width: 100%;
    }

    .five-day, .article, .contact {
        width: 100%;
    }

    iframe {
        width: 50%;
    }

    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr 1fr;
    }
} 