
body{
    background-color: #FDFCD8;
}
nav ul li{
    text-decoration: none;
    list-style-type: none;
    background-color: #FFFF00;
    text-shadow: #666666 1px 1px;
    font-size: 20px;
}
nav ul li a{
    justify-content: space-between;
    text-decoration: none;
    list-style-type: none;
    text-align: center;
    float: left;
}
header, footer{
    background-color: #66CC88;
    color: #666666;
    text-align: center;
    height: 250px;
}
nav ul li a:hover{
    background-color: #FDFCD8;
    color: #56B0E1;
}
h1, h2, h3{
    font-family: 'Mali', cursive;
}
h1{
    font-size: 70px;
    text-shadow: #FFFF00 2px 2px;
}
p{
    font-family: 'PT Sans', sans-serif;
    font-size: 20px;
    color: #666666;
    text-shadow: #56B0E1 2px 2px;
}
main{
    overflow: hidden;
}
.button{
    margin: 20px;
    background-color: transparent;
    border: none;
}
.headermenu li:first-child {
    display: block;
}

.headermenu li {
    display: none;
}
    
.headermenu {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }
    
.headermenu li a {
        display: block;
        color: #56B0E1;
        text-align: center;
        padding: .5rem;
        text-decoration: none;
    }

.headermenu li a:hover {
    color: #56B0E1;
    background-color: #FDFCD8;

}
.responsive li {
	display: block;
}
.header{
    text-align: center;
    max-width: 760px;
    margin: 0 auto;
}
.menu{
    font-size: 20px;
    margin: 100px 20px 20px 0px;
    padding: 0px;
    overflow: hidden;
}

#logo img{
    max-width: 200px;
    height: auto;
    display: block;
    float: left;
}
.weathersummary, .fiveday, .article, .contactinfo{
    min-height: 50px;
    display: block;
    width: 100%;
    border: 1px solid #666666;
    margin-top: 10px;
    padding: 0;
}
