html, body {
    margin: 0;
    padding: 0;
}

main {
    padding-top: 20px;
    padding-bottom: 20px;
    background-color: #7DCABA;
}

section {
    width: 250px;
    height: 330px;
    margin: 10px;
    background-color: #157A8E;
    border: 1px solid #0077B6;
    filter: drop-shadow(2px 2px 10px black);
}

h1 {
    color: #03045E;
    text-align: center;
    background-color: #48CAE4;
    margin: 0 auto;
    width: 100%;
}

h2 {
    color: #ADE8F4;
    padding-bottom: 8px;
}

p {
    color: #ADE8F4;
    text-align: center;
    font-family: 'Raleway', sans-serif;
    margin-top: 6px;
    font-size: 15px;
}

h1, h2 {
    text-align: center;
    font-family: 'Oswald', sans-serif;
}

img {
    width: 150px;
    filter: drop-shadow(4px 4px 8px #ADE8F4);
    padding-top: 10px;
}

footer {
    padding-top: 10px;
    margin: 0 auto;
    text-align: center;
    background-color: #48CAE4;
    color: #03045E;
    font-size: 20px;
    width: 100%;
}

.cards {
    background-color: #99D5C9;
    max-width: 1100px;
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    filter: drop-shadow(6px 6px 14px #023E8A);
}