@media only screen and (min-width: 32.5em) {
    
    .hero-place {
        margin-left: 0; 
    }  
    
    .cards {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }
/*-------------------------------Preston Page-------------------------------------------*/
    .week-day {
        width: 100%;
    }

    .mon, .tues, .wed, .thurs, .fri {
        width: 195px;
    }

    /* --------------------Storm Center --------------------------------------*/
    form {
        width: 100%;
    }

    /*-------------------Thank You Page --------------------------------------*/
    .thank-you {
        width: 100%;
    }
} 