@media only screen and (min-width: 32.5em) {
    header h1 {
        font-size: 40px;
        
    }

    .daily {
        display: block;
    }

    /*Gallery CSS*/
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    .img1, .img4, .img7 {
        grid-column: 1;
        width: 400px;
    }

    .img2, .img5, img8 {
        grid-column: 2;
        width: 400px;
    }

    .img3, .img6, .img9 {
        grid-column: 3;
        width: 400px;
    }

    .img1, .img2, .img3 {
        grid-row: 1;
    }

    .img4, .img5, .img6 {
        grid-row: 2;
    }

    .img7, img8, img9 {
        grid-row: 3;
    }
}