table {
    margin: auto;
    font-family: 'Ubuntu', sans-serif;
    text-align: center;
    width: 100%;
    max-width: 600px;
    filter: drop-shadow(15px 15px 10px #628ca6)
}

table, th, td {
    border: 1px solid darkgray;
    border-collapse: collapse;
    padding: 10px;
}

thead {
    font-size: 28px;
    font-weight: 700;
}

th {
    background-color: #628ca6;
    color: white;
}

tr:nth-child(even){
    background-color: #e7f0ed;
}

tr:nth-child(odd) {
    background-color: #e7ffed;
}

tr:nth-child(6) td:first-child {
    font-style: italic;
}

thead tr td, tfoot tr td {
    background-color: #7fb9c2;
    width: 100%;
}

#friday {
    background-color: #628ca6;
    color: white;
}