@media only screen and (min-width: 32.5em) {
    header h1 {
        font-size: 40px;
        
    }

    .daily {
        display: block;
    }

    /*Gallery CSS*/
    
    .gallery {
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: auto;
    }
    
    /* storm center */

    .personal {
        display: grid;
        max-width: inherit;
    }
    /* home page */

    .home-towns {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: flex-start;
    }

    .home-towns:nth-child(odd) {
        flex-direction: row-reverse;
    } 

    .home-towns img {
        padding: 0;
        filter: drop-shadow(0 0 0 #000);
    }
}