@media only screen and (min-width: 32.5em) {
    
    .hero-place {
        margin-left: 0;
        width: 100%;
    }  
    
    .ws-table {
        margin-left: 0;
    }

    .five-day, .article, .contact, footer {
        width: 100%;
    }

    iframe { 
        width: 50%;
    }

    .week-day {
        width: 100%;
    }

} 