* {
	margin: 0;
	padding: 0;
}
h1 {
    text-shadow: #BB4430 2px 2px;
    text-align: center;
    font-family: 'Courgette', cursive;
    color: #E6BEAE;
    
}
body {
	height: 100px;
    width: 700px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	font-size: 18px;
	font-family: 'Didact Gothic', sans-serif;
    background-color: #ECF8F8;
}

main {
    align-items: center;
	margin: 0.5rem;
	border: 1px solid #E7D8C9;
	padding: 0.5rem;
	display: grid;
	grid-template-columns: 1;
    
}
.delete-btn{
    color: #E6BEAE;
    font-family: 'Didact Gothic', sans-serif;
}
.books{
    background-color: #BB4430;
    margin-right: auto;
    margin-left: auto;
}
input,
button {
	padding: 1rem;
}
.button{
    font-family: 'Didact Gothic', sans-serif;
}
label {
	font-size: 0.8rem;
}
.listcontainer {
	border: 1px solid #EEE4E1;
	margin: 1rem;
	padding: 1rem;
}

.list {
	margin: 0.2rem;
}
p{
    font-family: 'Didact Gothic', sans-serif;
}
ul {
	margin: 1rem;
	list-style: none;
}

li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	margin-bottom: 0.5rem;
}