@media only screen and (min-width: 47.5em) {

    footer {
        padding-top: 15px;
        padding-bottom: 15px;
        padding-left: 190px;
        padding-right: 190px;
        margin-bottom: 25px;
    }

    header h1 {
        font-size: 50px;
        margin-bottom: 0;
    }

    .full-width {
        max-width: 800px;
        margin: 0 auto;
    }

    .headermenu {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    .headermenu li {
        display: block;
        height: 50px;
    }

    .headermenu li:first-child {
        display: none;
    }

    .gallery {
        display: grid;
        grid-template-columns: 400px 400px 400px;
        margin-right: 200px;
        margin-left: 200px;
    }

    input {
        width: 400px;
        height: 50px;
        align-items: center;
        margin-bottom: 20px;
    }

    #why-join {
        text-align: center;
        width: 900px;
        margin-right: auto;
        margin-left: auto;
        border: 4px solid #9BC1BC;
        padding: 20px;
        margin-top: 10px;
    }
}