@media only screen and (min-width: 64.5em) {
    nav ul {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }

    nav ul li a {
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
    }


    nav ul li a {
        border-top: none;
        width: 125px;
        text-align: center;
    }
    
    .navigation li:first-child{
        display: none;
    }

    .responsive li {
        display: none;
    }

    .navigation li {
        display: block;
    }

    .content {
        margin: auto;
        width: 60em;
    }

    .join {
        font-size: 30px;
        margin-top: 20px;
        margin-bottom: 20px;
    }

    .theater {
        width: 500px;
    }

    .weather-pur {
        display: grid;
        grid-template-columns: 1fr 1fr;
    }

    .join-head {
        width: 300px;
    }

    .purpose {
        grid-row: 1 / 1;
        
    }

    .weather {
        grid-row: 1 / 2;
        
    }

    .purpose-p {
        grid-column: 2 / 1;
    }

    .social-img {
        float: right;
    }

    img.social-img {
        width: 50px;
    }

    .address {
        text-align: center;
    }

    .week-day {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        
    }

    .days {
        font-size: 20px;
    }

    .town-events {
        display: flex;
        flex-direction: row;
    }
 
    /*----------------------------------Business Page-------------------------*/
    .business-pg {
       display: flex;
       flex-direction: row;
       flex-wrap: wrap;
    }

    img.bldg {
        max-width: 200px;
    }

    .business-el {
        width: 395px;
    }

    .three-bus {
        display: flex;
        flex-direction: row;
    }

    .gallery {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 60em;
        padding: 10px;
    }

    .gallery-img {
        margin: 40px;
    }

    /*-----------------------------Directory page & Join ---------------------------*/
    .join-h, .member-h3, .form-h3, .thank-youh {
        font-size: 30px;
    }

    .membership-name {
        font-size: 25px;
    }

    .member-outter {
        display: flex;
        flex-direction: row;
    }

    .form-fill, .membership {
        width: 50%;
        
    }

    .cards {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
    }

    .biz-div {
        width: 50%;
    }

    .address, .biz-h3, .phone {
        text-align: left;
    }

    .biz-btn {
        margin: auto;
    }


    input, textarea, select {
        width: 90%;
    }

    .thank-youp {
        font-size: 20px;
    }
    /*-------------------Contact Page-------------------------*/
    .contact-pg {
        display: flex;
        flex-direction: row;
    }

    .contact-form, .contact-box-pg {
        width: 50%;
       
    }
}