/* main */
body {
    background-color: #F4F1BB;
}

h1, h2, h3, h4, h5, h6 {
    font-family: 'Otomanopee One', sans-serif;
}

h1, h2, h3, h4, h5, h6, p {
    color: #5D576D;
}

h1 {
    font-size: 50px;
}

h2 {
    font-size: 30px;
}

p {
font-family: 'Roboto Condensed', sans-serif;
font-size: 20px;
}

label {
    font-family: 'Roboto Condensed', sans-serif;
    color: #5D576B;
}

/* menu and header*/

header p, h1 {
    color: #E6EBE0;
    background-color: #ED6A5A;
    text-align: center;
    margin: 0;
    height: 60px;
}

header img {
    width: 300px;
    position: absolute;
}

footer{
    color: #E6EBE0;
    background-color: #9BC1BC;
    text-align: center;
}

.menu {
    background-color: #9BC1BC;
    color: #E6EBE0;
    
}

a {
    font-family: 'Roboto Condensed', sans-serif;
    text-decoration: none;
    color: #ED6A5A;
    text-shadow: #E6EBE0 2px 2px;
    margin: auto;
    font-weight: 500;
    font-size: 30px;
    padding-top: 20px;
}

a.footer-p {
    color: #E6EBE0;
    font-size: 20px;
    text-shadow: #ED6A5A 2px 2px;
}

p.footer-p {
    color: #E6EBE0;
    font-size: 20px;
    text-shadow: #ED6A5A 2px 2px;
}

a:hover {
    color: #E6EBE0;
    
}

a:active {
    color: #5D576B;
    
}

.headermenu li:first-child {
    display: block;
    padding: 10px 0 10px 0;
}

.headermenu li {
    text-align: center;
    justify-content: center;
    list-style-type: none;
    font-size: 20px;
    display: none;
    width: 100%;
    margin: 0;
}

/* Home Page */

#gunn-m, #act-aero, #satterwhite{
    width: 300px;
}

.upcoming {
    border: #9BC1BC solid 4px;
    max-width: 500px;
    margin-right: auto;
    margin-left: auto;
    background-color: #E6EBE0;
    margin-bottom: 50px;
}

h2.upcoming-info {
    text-align: center;
}

li.upcoming-info {
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 20px;
    list-style: none;
}

.forecast-h2 {
    background-color: #E6EBE0;
    width: 75%;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    border: #9BC1BC solid 4px;
}

table.forecast {
    display: block;
    
}

table {
    color: #5D576D;
    background-color: #E6EBE0;
    text-align: center;
    width: 75%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 0;
}

.threeday {
    border: #9BC1BC solid 4px; 
    width: 100%;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto Condensed', sans-serif;
}

.weathersummary {
    display: block;
    width: 100%;
    min-height: 50px;
    margin-right: auto;
    margin-left: auto;
    z-index: 2;
}

div .hosp-weather {
    display: block;
    margin-top: 20px;
    padding: 15px;
}

.info {
    color: #5D576B;
    font-family: 'Roboto Condensed', sans-serif;
}

.data {
    color: #5D576B;
    font-family: 'Roboto Condensed', sans-serif;
}

table img {
    width: 100px;
}

.hosp-weather {
    background-color: #E6EBE0;
    text-align: center;
    width: 300px;
    margin-right: auto;
    margin-left: auto;
    display: block;
    border: #9BC1BC solid 4px;
}

table .hosp-weather {
    display: block;
    position: absolute;
}

#weather-im {
    margin-right: auto;
    margin-left: auto;
    display: block;
    z-index: -1;
}

.main-img {
    width: 100%;
    display: block;
}

#summary {
    margin-top: 20px;
    margin-bottom: 0;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    font-family: 'Roboto Condensed', sans-serif;
    color: #5D576B;
    padding: 0;
    position: relative;
    width: 60%;
}

.business-h2 {
    text-align: center;
}

.business {
    display: flex;
    flex-direction: row;
    width: 100%;
}

.business-info {
    border:#9BC1BC 4px solid;
    margin-bottom: 50px;
    margin-top: 50px;
}

.business-mark, .business-act, .business-sat {
    margin-right: auto;
    margin-left: auto;
    padding-right: 50px;
    width: 100%;
}

.business-mark img, .business-act img, .business-sat img {
    height: 150px;
}

.join {
    text-align: center;
}

#com-h2 {
    width: 700px;
    border:#9BC1BC 4px solid;
    margin-top: 50px; 
    margin-bottom: 50px;
    margin-right: auto;
    margin-left: auto;
}

.contact-h2 {
    text-align: center;
}

.contact {
    border:#9BC1BC 4px solid;
    max-width: 800px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.contact-info {
    text-align: right;
    display: flex;
    flex-direction: row;
    min-height: 50px;
    margin-top: 50px;
}

#g-office {
    width: 300px;
    position: relative;
}

.social {
    margin-top: 20px;
    width: 50px;
}

/* City Page */

.city-sect {
    border: 4px solid #9BC1BC;
    width: 1000px;
    margin-right: auto;
    margin-left: auto;
    margin-bottom: 50px;
}

.city {
    text-align: center;
}

.city-img {
    float: left;
}

.city a{
    color:#ED6A5A;
    font-size: 20px;
    text-shadow: none;
}

.gal-img {
    width: 300px;
    height: 200px;
    margin-right: 100px;
    margin-left: 100px;
    padding-right: 20px;
}

.gallery {
    display: grid;
    grid-template-columns: 400px;
    margin-right: auto;
    margin-left: auto;
    border: 4px solid #9BC1BC;
    margin-bottom: 50px;
}

/*Join Page */
 
#form {
    color: #E6EBE0;
    text-align: center;
    background-color: #9BC1BC;
    margin: 3rem 5rem 5rem 3rem;
    padding: 20px;
    box-shadow: #ED6A5A 0 4px 0 0;
    border-radius: 5px;
    font-size: 40px;
}

.personal {
    display: grid;
    grid-template-columns: 1;
    background-color: #ED6A5A;
    color: white;
    font-size: 20px;
    height: auto;
    margin: 3rem 5rem 5rem 3rem;
    box-shadow: #666666 2px 2px 2px 2px;
    padding-left: 20px;
    border-radius: 5px;
}

div.personal {
    margin-bottom: 10px;
}
.info {
    margin-top: 20px;
    color: white;
}

.button {
    height: 40px;
    font-size: 20px;
}

div.button {
    width: 50%;
    margin: auto;
    margin-bottom: 50px;
    align-items: center;
    padding: 0;
}

label#stormseverity {
    display: grid; 
    padding-top: 20px;
}

input#description {
    height: 200px;
}

input#danger.check {
   width: 10%;
}

label.check {
    width: 300px;
    padding-top: 20px;
}

label#member-type {
    padding-top: 20px;
}

#submit {
    background-color: #5D576B;
    width: 200px;
    height: 50px;
    color: white;
    box-shadow: #9BC1BC 2px 2px 2px 2px;
    border-radius: 5px;
    margin-bottom: 50px;
}

input#submit {
    align-self: center;
    cursor: pointer;
}

 input {
     min-width: 200px;
     height: 50px;
     align-items: center;
     margin-bottom: 20px;
 }

 #why-join {
     text-align: center;
     min-width: 200px;
     margin-right: auto;
     margin-left: auto;
     border: 4px solid #9BC1BC;
     padding: 20px;
     margin-top: 10px;
 }

 /* Thanks page */

.thanks {
    color: #5D576B;
    background-color: #ED6A5A;
    box-shadow: #5D576B 0px 4px 0px 0px;
    padding: 20px;
    text-align: center;
    border-radius: 5px;
    margin: 3rem 5rem 5rem 3rem;
}

.thanks-p {
    margin-top: 20px;
    color: white;
    background-color: #ED6A5A;
    text-align: center;
    text-shadow: none;
    padding: 20px;
    border-radius: 5px;
    margin: 3rem 5rem 5rem 3rem;
    box-shadow: #5D576B 2px 2px 2px 2px;
}

/* Directory Page */
