/*----------------------------------------Main Set Up-----------------------------------------------------*/
h1, h2, h3, h4 {
    font-family: 'Fuzzy Bubbles', cursive;
    color: #283D3B;
}

p, footer, ul li {
    font-family: 'Roboto Condensed', sans-serif; 
    color: #283D3B;
}

nav ul {
   color: #EDDDD4;
   background-color: #C44536;
   list-style-type: none;
   padding-top: 10px;
   padding-bottom: 10px;
   margin-top: 0;
}

nav ul li a {
    display: flex;
    flex-direction: row;
    text-decoration: none;
    font-size: 20px;
    background-color: #C44536;
}

header {
    background-color: #197278;
    color: #EDDDD4;
    text-align: center;
    height: 200px; 
}

body {
    background-color: #EDDDD4;
}

nav ul li.active a {
    background-color: #772E25;
    padding: 5px;
}

nav ul li a:hover {
    background-color: #EDDDD4;
    color: #772E25; 
    text-align: center;
    padding: 5px;
}

footer {
    background-color: #197278;
    color: white;
    text-align: center;
    padding: 20px;
}

a, footer {
    color: white;
}

.title-head {
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

header img {
    width: 300px; 
}

/* -------------------------Home Page--------------------------------------*/
.events-h, .purpose, .weather, .business, .contact {
    text-align: center;
    background-color: #772E25;
    border-bottom: #197278 solid 5px;
    border-top: #197278 solid 5px;
    color: #EDDDD4;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 0;
}

a.join-butt {
    text-decoration: none;
}

button {
    background-color: #197278;
    color:#EDDDD4;
    padding: 10px;
}

.town-events {
    border: #772E25 2px solid;
    border-radius: 10px;
    margin-bottom: 20px;
}

section p, section h3 {
    color:#772E25;
}

.purpose-p {
    margin-top: 0;
    margin-bottom: 0;
}

.join {
    border: #283D3B 2px solid;
    border-radius: 10px;
    text-align: center;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-bottom: 10px;
}

.join-head {
    background-color: #C44536;
    border-bottom: #197278 solid 5px;
    border-top: #197278 solid 5px;
    color:#EDDDD4;
    margin: auto;
    margin-bottom: 20px;
}

.contact-box, .purpose-p, .week-day, .business-el, .three-bus {
    border: #283D3B 2px solid;
    border-radius: 10px;
    text-align: center;
}

.bldg, .the-theatre, .market {
    width: 200px;
}

.weather-a {
    background-color: #C44536;
    padding: 20px;
    color: white;
}

/*------------------------Directory page--------------------------------*/
a.business-butt {
    text-decoration: none;
}

.button-bus {
    margin-bottom: 20px;
}

.address, .phone {
    color: white;
}

.cards {
    margin-bottom: 20px;
}

.biz-h3 {
    background-color: #C44536;
    text-align: center;
    color: #EDDDD4;
}

img.biz-img {
    width: 100px;
}

.btn-div {
    color: white;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Roboto Condensed', sans-serif; 
}

.biz-div {
    border: #283D3B solid 2px;
    border-radius: 10px;
    background-color: #197278;
}

.heading {
    background-color: #772E25;
    color: #EDDDD4;
    text-align: center;
    border-radius: 10px;
}

/*-------------------City Page---------------------*/
.city-link {
    color: #283D3B;
}

.city-h {
    background-color: #C44536;
    text-align: center;
    color: #EDDDD4;
    border-bottom: #197278 solid 5px;
    border-top: #197278 solid 5px;
    border-radius: 10px;
}

img.main-st {
    width: 400px;
}
/*---------------------Join form Page------------------*/
form {
    font-family: 'Roboto Condensed', sans-serif;
    color: #283D3B;
    
}

label {
    color:white;
    padding-bottom: 10px;
}

input, textarea, select {
    padding: 5px;
}


.select-btn {
    background-color: #197278;
    color: white;
    padding: 10px;
    margin: 10px;
}

.join-h {
    background-color: #C44536;
    color: #EDDDD4;
    padding: 20px;
    margin-top: 0;
    text-align: center;
    border-radius: 10px;
    border-top: #197278 solid 5px;
    border-bottom: #197278 solid 5px;
}

.join-p {
    background-color: #197278;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.membership, .form-fill {
    border: #197278 solid 5px;
    border-radius: 10px;
}

.membership-name {
    border-bottom: #C44536 solid 5px;
    color: #197278;
    text-align: center;
}

ul.level-perks {
    list-style-type: none;
}

.member-h3 {
    background-color: #C44536;
    color:#EDDDD4;
    padding: 20px;
    text-align: center;
}

.input-section {
    text-align: center;
    padding: 5px;
}

.form-fill {
    background-color: #C44536;
    border-radius: 10px;
}

.form-h3 {
    color: white;
    text-align: center;
}

.thank-youh {
    text-align: center;
    background-color: #C44536;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.thank-youp {
    background-color: #197278;
    color: white;
    padding: 20px;
    border-radius: 10px;
}

.form-fill, .membership {
    margin-bottom: 20px;
}

/*-----------------------Contact Page--------------------*/

.contact-form, .contact-box-pg {
    margin-bottom: 20px;
    margin-top: 20px;
}

.contact-form {
    background-color: #197278;
    border-radius: 10px;
}

.contact-h3 {
    color: white;
    text-align: center;
    padding-top: 20px;
}

.contact-btn {
    margin-top: 10px;
    margin-bottom: 10px;
    background-color: #C44536;
    color: white;
}

.contact-box-pg {
    border: #283D3B 2px solid;
    border-radius: 10px;
    text-align: center;
}