* {
    box-sizing: border-box;
}
body{
    background-color: #FBF8B2;
    margin: 0;
    width: 100%;
}

#stephanie {
    text-align: center;
}

.menu{
    background-color: #66CC88;
    color: #FFFF00;
    text-shadow: 1px 1px #555358;
    display:inline-flex;
    margin: 0;
    border: 0;
    text-decoration: none;
    width: 100%;
    text-align: center;
    justify-content: space-between;
}

a{
    font-size: 20px;
    font-family: 'PT Sans', sans-serif;
}

header,
nav,
main,
footer {
	margin: 0;
}

header,
footer {
	display: flex;
    flex-direction: row;
	align-items: center;
	justify-content: center;
	padding: 10px;
    background-color: #66CC88;
}

#purpose {
    text-align: center;
}

main{
    border: 0;
    margin-right: auto;
    margin-left: auto;
}

nav ul{
    list-style-type: none;
	margin: 0;
	padding: 0;
	overflow: hidden;
    text-decoration: none;
}

h1, h2, h3 {
    font-family: 'Mali', cursive;
    color: #56B0E1;
    background-color: #297A44;
    text-align: center;
    margin: 0;
    width: 100%;
}

h1{
    text-align: center;
    margin: 0;
}

#plan {
    width: 100%;
    margin: 0;
}


#bodydiv {
    align-items: center;
}

.color {
    margin: 0;
    text-align: center;
}

.target {
    margin: 0;
    text-align: center;
}

.typography {
    margin: 0;
}

a:visited, a:hover, a{
    color: #FFFF00;
    text-shadow: 1px 1px #555358;
    text-decoration: none;
    padding: 70px;
    text-align: right;
    margin: 0;
}

p{
    font-family: 'PT Sans', sans-serif;
    color: #555358;
    padding: 20px 20px 20px 20px;
    font-size: 20px;
    margin: 0;
}

.lastmod{
    background-color: #66CC88;
    color: #FFFF00;
}

table, th, td{
    border: 1px solid black;
    margin-left: 200px;
}

th{
    font-family: 'Mali', cursive;
}

td{
    font-family: 'PT Sans', sans-serif; 
}

footer {
	flex: 1;
}

#site{
    text-align: justify;
    font-size: 30px;
}

#grey{
    background-color: #555358;
}

#yellow{
   
    background-color: #FDFCD8;
}
#blue{
    background-color: #56B0E1;
}

#orange{
    background-color: #FFFF00;
}

#green{
    background-color: #66CC88;
}

#scheme{
    margin-left: 200px;
}

#logo, #website{
    padding: 0;
    margin-left: 300px;
}

#logo{
    width: 500px;
}

#website{
    width: 700px;
}

.winter{
    font-family: 'Mali', cursive;
    background-color: #56B0E1;
    color: #555358;
    margin: 0;
}

.spring{
    font-family: 'Mali', cursive;
    background-color: #FDFCD8;
    margin: 0;
}

.summer{
    font-family: 'Mali', cursive;
    background-color: #66CC88;
    margin: 0;
    color: #FFFF00;
}

.fall{
    font-family: 'Mali', cursive;
    background-color: #FFDDAD;
    color: #66CC88;
    margin: 0;
}